<div class="row animated fadeIn">
  <div class="col-md-6">
    <div class="card card-body">
      <h3 class="box-title m-b-0">Forma de pago: {{ formapago.nombre }}</h3>
      <!-- <p class="text-muted m-b-30 font-13"> Bootstrap Elements </p> -->
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarFormapago(f)">
            <div class="form-group">
              <label>Forma de pago</label>
              <input
                [(ngModel)]="formapago.nombre"
                name="nombre"
                type="text"
                class="form-control"
                placeholder="Nombre del Formapago"
                required
              />

              <label>Clave</label>
              <input
                [(ngModel)]="formapago.clave"
                name="clave"
                type="text"
                class="form-control"
                placeholder="Clave"
                required
              />
              <!-- </div>

                <div class="form-group"> -->
              <label>Tipo</label><br />
              <select
                [(ngModel)]="formapago.tipo"
                name="tipo"
                class="formControl"
                required
              >
                <option value="">Seleccione un tipo de forma de pago</option>
                <option value="EFE">Efectivo</option>
                <option value="TC">Tarjeta de Credito</option>
                <option value="TD">Tarjeta de Debito</option>
                <option value="CH">Cheque</option>
                <option value="VAL">Vale</option>
                <option value="CUP">Cupon</option>
                <option value="COR">Cortesia</option>
                <option value="PROM">Promocion</option>
                <option value="DLLS">Dolares</option>
              </select>

              <br />
              <label>Comisión:</label>
              <input
                [(ngModel)]="formapago.comision"
                name="comision"
                type="text"
                class="form-control"
                placeholder="comision"
              />
            </div>

            <button
              type="submit"
              class="btn btn-success waves-effect waves-light m-r-10"
            >
              <i class="fa fa-save"></i>
              Guardar
            </button>
            <a
              [routerLink]="'/formaspago'"
              class="btn btn-inverse waves-effect waves-light"
            >
              Cancel
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>

  <pre>
  
    {{ formapago | json }}
  </pre>
</div>
