<div class="row animated fadeIn">
    <div class="col-md-6">
      <div class="card card-body">
        <h3 class="box-title m-b-0">Turno: {{ turno.nombre }}</h3>
        <!-- <p class="text-muted m-b-30 font-13"> Bootstrap Elements </p> -->
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarTurno(f)">              
              <div class="form-group">
                <label>Fecha: {{ turno.fecha | date:shortDate }} </label><br>
                <input [(ngModel)]="turno.fecha" name="fecha"
                  type="hidden"
                  class="form-control"
                  placeholder="fecha"
                  required
                />

                <label>Turno:&nbsp; </label>                
                <select [(ngModel)]="turno.numero" name="numero" class="formControl" required>
                  <option value="">Seleccione un turno</option>
                  <option value="1">Desayuno</option>
                  <option value="2">Comida</option>
                  <option value="3">Cena</option>
                </select>

                <br>
                <div class="form-group">
                  <label>Cajero</label><br>
                  <select [(ngModel)]="turno.cajero" name="cajero" class="formControl" required>
                    <option value="">Seleccione un cajero</option>
                    <option *ngFor="let cajero of meseros" [value]="cajero._id">{{ cajero.nombre }} {{ cajero.apaterno }} {{ cajero.amaterno }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label>Fondo de Caja</label>
                <input [(ngModel)]="turno.fondocaja" name="fondocaja"
                  type="text"
                  class="form-control"
                  placeholder="Fondo Caja"
                  required
                />
              </div>

              <button type="submit"
                class="btn btn-success waves-effect waves-light m-r-10">
                <i class="fa fa-save"></i>
                Guardar
              </button>
              <a
                [routerLink]="'/turnos'"
                class="btn btn-inverse waves-effect waves-light">
                Cancel
            </a>
            </form>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <pre>  
    {{ turno |json}}
  </pre>

  
  <pre>  
    {{ meseros |json}}
  </pre>
