<div class="row animated fadeIn">
  <div class="col-md-6">
    <div class="card card-body">
      <h3 class="box-title m-b-0">Concepto del descuento: {{ conceptodescuento.nombre }}</h3>
      <!-- <p class="text-muted m-b-30 font-13"> Bootstrap Elements </p> -->
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarConceptodescuento(f)">
            <div class="form-group">
              <label>Clave</label>
              <input [(ngModel)]="conceptodescuento.clave" name="clave"
                type="text"
                class="form-control"
                placeholder="Clave"
                required
              />
            </div>
            <div class="form-group">
              <label>Concepto de descuento</label>
              <input [(ngModel)]="conceptodescuento.nombre" name="nombre"
                type="text"
                class="form-control"
                placeholder="Nombre del Conceptodescuento"
                required
              />
            </div>
            <button type="submit"
              class="btn btn-success waves-effect waves-light m-r-10">
              <i class="fa fa-save"></i>
              Guardar
            </button>
            <a
              [routerLink]="'/conceptosdescuento'"
              class="btn btn-inverse waves-effect waves-light">
              Cancel
          </a>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<pre>

  {{conceptodescuento|json}}
</pre>